@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$main-font: 'Lato', sans-serif;

$background-color: #f7f5dd;
$font-color: #4c5454;
$buttons-color: #56c272;
$accent-color: #e7305b;
$light-color: #ffffff;
$secondary-light-color: #f1f1f1;
