body {
  background-color: #f7f5dd;
  color: #4c5454;
  font-family: "Lato", sans-serif;
}
body a {
  text-decoration: none;
}
body .fa-minus-circle,
body .fa-times-circle {
  color: #e7305b;
}
body .fa-plus-circle {
  color: #9bdeac;
}
body .fa-minus-circle,
body .fa-plus-circle {
  font-size: 20px;
}
body .fa-times-circle {
  font-size: 25px;
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 60% 40%;
}
.content .products__list {
  width: 80%;
  margin: 10px auto 50px;
}
.content .products__list--title {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  font-weight: bold;
}
.content .products__list--title span:nth-of-type(1) {
  grid-column: 3/span 1;
}
.content .products__list--title span:nth-of-type(2) {
  grid-column: 4/span 1;
}
.content .products__list--title span:nth-of-type(3) {
  grid-column: 5s/span 1;
}
.content .products__list .item {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 1px 1px #00000029;
  grid-column: 1/span 6;
  margin: 5px 0 20px 0;
  border-radius: 10px;
}
.content .products__list .item span {
  font-weight: bold;
}
.content .products__cards {
  width: 80%;
  margin: 10px auto;
}
.content .products__cards--title {
  display: flex;
}
.content .products__cards--title h1 {
  margin: 0 0 10px 5px;
}
.content .products__cards--container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
}
.content .products__cards .card {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 1px 1px #00000029;
  border-radius: 10px;
  padding: 5px;
}
.content .products__cards .card p {
  margin: 0;
}
.content .products__cards .card button {
  display: block;
  width: 90%;
  margin: 10px auto;
  background-color: #9bdeac;
  padding: 8px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}
.content .sumary {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 1px 1px #00000029;
  width: 60%;
  max-height: 280px;
  margin-top: 23px;
  border-radius: 10px;
  padding: 0 30px 10px 30px;
}
.content .sumary span {
  font-size: 15px;
}
.content .sumary i {
  font-size: 25px;
}
.content .sumary .fa-edit {
  text-align: end;
}
.content .sumary__location, .content .sumary__pay {
  margin-bottom: 20px;
}
.content .sumary__location {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.content .sumary__location span {
  display: block;
}
.content .sumary__location--location {
  margin-left: 10px;
}
.content .sumary__pay {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.content .sumary__pay span {
  display: block;
}
.content .sumary__pay--pay {
  margin-left: 10px;
}
.content .sumary__pay--title {
  display: flex;
  justify-content: flex-end;
}
.content .sumary__pay--title h1 {
  color: #e7305b;
}
.content .sumary button {
  width: 90%;
  margin: 0 5%;
  background-color: #9bdeac;
  padding: 8px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

/*# sourceMappingURL=shopping-cart.css.map */
