@import '../../assets/styles/components/App.scss';

$font-family: 'Lato';
$font-size: 16px;
$titles-size: 24px;
$subtitles-details: 20px;
$border-principal: 10px;

$background-color: #F7F5DD;
$background-card: #FFFFFF;
$hover-color: #E7305B;
$text-color: #4C5454;

.AdminAccount {
  display: grid;
  grid-template-columns: 30% 1fr;
  justify-items: center;
  width: 100%;

  &__title {
    padding: 1em 0.5em;
  }

  .h2 {
    display: inline;
    margin-right: 3em;
  }


  table {
    margin: 1em;
    border-radius: 0.5em;
    border-spacing: 0;
    clear: both;
    width: 100%;
    border-spacing: 0 15px;

    tr {
      padding: 0.5em;
    }

    td {
      text-align: center;
      padding: 0.5em;
    }

    thead {
      tr {
        font-weight: bold;

        th {
          background-color: var(principal-contrast);
          text-transform: uppercase;

          &:first-child {
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
          }

          &:last-child {
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
          }
        }
      }
    }

    tbody {
      tr {
        box-shadow: 0px 3px 6px var(--hover);
        border: 1px solid var(--border);
        border-radius: 10px;
        border-spacing: 15px;
        height: 6em;
        margin: 1em;

        td {
          margin: 3em;

          &:first-child {
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
          }

          &:last-child {
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            border-right: 0 none transparent;
          }
        }

        &:hover {
          background-color: var(--background-gray);
        }
      }
    }
  }


  input {
    background: $background-color;
    height: 3em;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    padding: 0 0.5em;
    width: 25em;
  }

  &__button {
    @include border();
    @include btn();
    margin: 0 auto;
    width: 10em;
    outline: none;
  }


  &__button:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }

  &__button:active {
    box-shadow: -1px -1px 1px 0 var(--hover);
    transform: translate(3px, 3px);
  }

  &__container {
    padding: 4em;

    &__menu {
      // width: 20em;
      background: $background-card;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: $border-principal;

      ul {
        list-style: none;
        text-decoration: none;

        li {
          padding-bottom: 24px;
          padding-left: 20px;

          a {
            text-decoration: none;
            color: $text-color;
          }

          a:hover {
            color: $hover-color;
          }
        }
      }
    }
  }

  &__container__menu-settings {
    background: $background-card;
    border-radius: $border-principal;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 4em;
    padding: 2em;
    position: relative;
    // width: 435px;

  }
}

.back-img {
  text-align: center;
}

/*----------------------------------------------MEDIA QUERIES----------------------------------------------*/

@media screen and (min-width: 1500px) {
  .AdminAccount {
    display: grid;
    grid-template-columns: 420px 1100px;
    gap: 80px;
  }

  .AdminAccount__container__menu-settings {
    width: 1100px;

    h2 {
      padding-top: 40px;
      padding-left: 45px;
    }
  }

}

@media screen and (min-width: 1000px) {
  .AdminAccount {


    &__container {
      padding: 4em;
      align-self: flex-start;
    }
  }

  .AdminAccount__container__menu-settings {
    margin-top: 4em;
  }

  .form-wrapper {
    display: flex;
  }

  .back-img {
    text-align: start;
    margin-left: 7.5em;
  }
}

@media screen and (max-width: 768px) {
  .AdminAccount {
    grid-template-columns: initial;
  }

  .category-table,
  .image-table {
    display: none;
  }
}

/*---------------------------------------------- END MEDIA QUERIES----------------------------------------------*/