@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
/*--- VARS ----*/
:root {
  --principal: #E7305B;
  --principal-contrast: #F094AA;
  --secondary: #56C272;
  --background: #F7F5DD;
  --alert: #00BB2D;
  --card: #fff;
  --font: #4c5454;
  --font-contrast: #fff;
  --padding: 1.5em;
  --panel-padding: 0 0.3em 0 0.3em;
  --margin: 2em;
  --gap: 1em;
  --radius: 1em;
  --background-gray: #EFEFEF;
  --border: 1px solid #f1f1f1;
  --link: #fff;
  --visited: #56C272;
  --hover: #F00;
  --active: #88ff00; }

/*--- END VARS ----*/
body {
  background-color: var(--background);
  margin: 0;
  overflow-x: hidden; }

a:visited {
  color: var(--link); }

a:hover {
  color: var(--link); }

a:active {
  color: var(--link); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

body {
  background-color: #f7f5dd;
  color: #4c5454;
  font-family: 'Lato', sans-serif; }
  body a {
    text-decoration: none; }

.container {
  margin: 3.5em auto;
  width: 80%; }
  .container a:visited {
    color: var(--visited); }
  .container a:hover {
    color: var(--hover); }
  .container a:active {
    color: var(--active); }

.Header {
  background-color: var(--principal); }
  .Header__title {
    font-size: 2em;
    margin-left: 1em; }
  .Header__brand {
    color: var(--font-contrast);
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0; }
    .Header__brand--search {
      background-color: var(--principal-contrast);
      display: flex;
      align-items: center;
      font-size: 1em;
      color: var(--font-contrast);
      outline: none;
      border: none;
      border-radius: 1em;
      top: 12px;
      left: 588px;
      width: 40%;
      height: 2.5em; }
      .Header__brand--search .faSearch {
        margin: 0 1em; }
      .Header__brand--search input {
        background-color: var(--principal-contrast);
        outline: none;
        height: 90%;
        border: none;
        width: 70%; }
    .Header__brand .icon {
      margin: 0 1em; }
    .Header__brand .faShoppingBag {
      font-size: 2em; }
  .Header__categories {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    user-select: none; }
    .Header__categories .categorie {
      align-items: center;
      border-radius: 0.5em;
      color: var(--font-contrast);
      display: flex;
      flex-direction: row;
      height: 2em;
      padding: 1em 1.5em;
      text-transform: capitalize; }
      .Header__categories .categorie img {
        height: 1.5em;
        margin-right: 0.3em; }
    .Header__categories span:hover {
      background-color: #b72447; }

@media screen and (max-width: 1024px) {
  .Header {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 800px) {
  .Header__title {
    display: none; }
  .Header__categories img {
    display: none; } }

.Footer {
  background-color: var(--principal);
  display: flex;
  justify-content: flex-end;
  padding: 0.7em 0;
  position: fixed;
  bottom: 0;
  width: 100vw; }
  .Footer--social-networks {
    padding: 0 1em; }
  .Footer .socialIcon {
    color: var(--font-contrast);
    font-size: 1.5em;
    margin: 0.5em; }

@media screen and (max-width: 880px) {
  .Footer {
    justify-content: center; } }

.categories__title {
  font-size: 2em;
  padding-left: 30px;
  width: 100%;
  color: var(--font); }

.products__cards--container {
  color: #4c5454;
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 2em; }

@media screen and (max-width: 4000px) {
  .products__cards--container {
    grid-template-columns: repeat(8, 1fr); } }

@media screen and (max-width: 1440px) {
  .products__cards--container {
    grid-template-columns: repeat(6, 1fr); } }

@media screen and (max-width: 1024px) {
  .products__cards--container {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 880px) {
  .products__cards--container {
    grid-template-columns: repeat(3, 1fr); } }

/*--- VARS ----*/
:root {
  --principal: #E7305B;
  --principal-contrast: #F094AA;
  --secondary: #56C272;
  --background: #F7F5DD;
  --alert: #00BB2D;
  --card: #fff;
  --font: #4c5454;
  --font-contrast: #fff;
  --padding: 1.5em;
  --panel-padding: 0 0.3em 0 0.3em;
  --margin: 2em;
  --gap: 1em;
  --radius: 1em;
  --background-gray: #EFEFEF;
  --border: 1px solid #f1f1f1;
  --link: #fff;
  --visited: #56C272;
  --hover: #F00;
  --active: #88ff00; }

/*--- END VARS ----*/
body {
  background-color: var(--background);
  margin: 0;
  overflow-x: hidden; }

a:visited {
  color: var(--link); }

a:hover {
  color: var(--link); }

a:active {
  color: var(--link); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.card {
  background-color: var(--card);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5em;
  text-align: center;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 1px 1px #00000029;
  max-width: 12em; }
  .card--img {
    border-radius: 0.5em;
    height: 150px;
    width: 150px;
    margin: 0 auto; }
  .card--text {
    margin: 1em; }
    .card--text__title {
      font-weight: bold;
      margin: 0; }
    .card--text__price {
      font-weight: bold; }
  .card--button {
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 1px 1px #00000029;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    color: var(--font-contrast);
    padding: 8px;
    transition: all 0.1s ease;
    margin: 0 auto;
    width: 10em;
    outline: none; }
  .card--button:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; }
  .card--button:active {
    box-shadow: -1px -1px 1px 0 #000000bb;
    transform: translate(3px, 3px); }

.message {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: black; }
  .message__image {
    width: 650px; }
  .message__title {
    font-size: xx-large;
    color: var(--principal); }

.UserAccount .container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin-top: 12em; }
  .UserAccount .container__menu {
    width: 500px;
    height: 407px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px; }
    .UserAccount .container__menu ul {
      list-style: none;
      text-decoration: none; }
      .UserAccount .container__menu ul li {
        padding-bottom: 24px;
        padding-left: 20px; }
        .UserAccount .container__menu ul li a {
          text-decoration: none;
          color: #4C5454; }
        .UserAccount .container__menu ul li a:hover {
          color: #E7305B; }
  .UserAccount .container__menu-settings {
    width: 1100px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px; }
  .UserAccount .container h2 {
    font-size: 24px;
    width: 107px;
    height: 29px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px; }

.UserAccount .form-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px; }

.UserAccount .form-row label {
  font-family: "Lato", sans-serif;
  font-size: 20px; }

.UserAccount .form-row input {
  width: 495px;
  height: 48px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background: #F7F5DD; }

.UserAccount .form-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 28px; }
  .UserAccount .form-button button {
    width: 172px;
    height: 51px;
    background: #56C272;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 25px; }

.UserAccount .back-img {
  width: 100%;
  margin-top: 65px; }
  .UserAccount .back-img img {
    margin-left: 100px;
    width: 400px;
    height: 325px; }

/*----------------------------------------------MEDIA QUERIES----------------------------------------------*/
@media (max-width: 1600px) {
  .container__menu-settings {
    width: 300px;
    margin: 0 1em; }
  form {
    display: block; }
  .form-wrapper {
    width: 70%;
    padding: 10px; } }

@media (max-width: 1204px) {
  .container {
    width: 60%; }
  .container__menu-settings {
    margin: 0 2em; } }

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap; }
  .container__menu-settings {
    margin-top: 2em; } }

@media (max-width: 520px) {
  .container__menu-settings {
    margin: 2em 1em; } }

body {
  background-color: #f7f5dd;
  color: #4c5454;
  font-family: 'Lato', sans-serif; }
  body a {
    text-decoration: none; }

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 60% 40%; }
  .content .products__list {
    width: 80%;
    margin: 10px auto 50px; }
    .content .products__list--title {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      font-weight: bold; }
      .content .products__list--title span:nth-of-type(1) {
        grid-column: 3 / span 1; }
      .content .products__list--title span:nth-of-type(2) {
        grid-column: 4 / span 1; }
      .content .products__list--title span:nth-of-type(3) {
        grid-column: 5s / span 1; }
    .content .products__list .item {
      background-color: #ffffff;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      align-items: center;
      border: 1px solid #f1f1f1;
      box-shadow: 1px 1px 1px 1px #00000029;
      grid-column: 1 / span 6;
      margin: 5px 0 20px 0;
      border-radius: 10px; }
      .content .products__list .item span {
        font-weight: bold; }
      .content .products__list .item__cantidad {
        display: flex;
        width: 100%;
        justify-content: space-evenly; }
  .content .products__cards {
    width: 80%;
    margin: 10px auto; }
    .content .products__cards--title {
      display: flex; }
      .content .products__cards--title h1 {
        margin: 0 0 10px 5px; }
      .content .products__cards--title span svg {
        font-size: 25px; }
    .content .products__cards--container {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-gap: 10px; }
    .content .products__cards .card {
      background-color: #ffffff;
      border: 1px solid #f1f1f1;
      box-shadow: 1px 1px 1px 1px #00000029;
      border-radius: 10px;
      padding: 5px; }
      .content .products__cards .card p {
        margin: 0; }
      .content .products__cards .card button {
        display: block;
        width: 90%;
        margin: 10px auto;
        background-color: #56c272;
        padding: 8px;
        border-radius: 10px;
        color: #ffffff;
        border: none; }

.fa-minus-circle,
.fa-times-circle {
  color: #e7305b; }

.fa-plus-circle {
  color: #56c272; }

.fa-minus-circle,
.fa-plus-circle {
  font-size: 20px; }

.fa-times-circle {
  font-size: 25px; }

body {
  background-color: #f7f5dd;
  color: #4c5454;
  font-family: 'Lato', sans-serif; }
  body a {
    text-decoration: none; }

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 60% 40%; }
  .content .products__list {
    width: 80%;
    margin: 10px auto 50px; }
    .content .products__list--title {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      font-weight: bold; }
      .content .products__list--title span:nth-of-type(1) {
        grid-column: 3 / span 1; }
      .content .products__list--title span:nth-of-type(2) {
        grid-column: 4 / span 1; }
      .content .products__list--title span:nth-of-type(3) {
        grid-column: 5s / span 1; }
    .content .products__list .item {
      background-color: #ffffff;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      align-items: center;
      border: 1px solid #f1f1f1;
      box-shadow: 1px 1px 1px 1px #00000029;
      grid-column: 1 / span 6;
      margin: 5px 0 20px 0;
      border-radius: 10px; }
      .content .products__list .item span {
        font-weight: bold; }
      .content .products__list .item__cantidad {
        display: flex;
        width: 100%;
        justify-content: space-evenly; }
  .content .products__cards {
    width: 80%;
    margin: 10px auto; }
    .content .products__cards--title {
      display: flex; }
      .content .products__cards--title h1 {
        margin: 0 0 10px 5px; }
      .content .products__cards--title span svg {
        font-size: 25px; }
    .content .products__cards--container {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-gap: 10px; }
    .content .products__cards .card {
      background-color: #ffffff;
      border: 1px solid #f1f1f1;
      box-shadow: 1px 1px 1px 1px #00000029;
      border-radius: 10px;
      padding: 5px; }
      .content .products__cards .card p {
        margin: 0; }
      .content .products__cards .card button {
        display: block;
        width: 90%;
        margin: 10px auto;
        background-color: #56c272;
        padding: 8px;
        border-radius: 10px;
        color: #ffffff;
        border: none; }

.sumary {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 1px 1px #00000029;
  width: 60%;
  max-height: 280px;
  margin-top: 23px;
  border-radius: 10px;
  padding: 0 30px 10px 30px; }
  .sumary span {
    font-size: 15px; }
  .sumary svg {
    font-size: 25px; }
  .sumary .fa-edit {
    text-align: end; }
  .sumary__location, .sumary__pay {
    margin-bottom: 20px;
    align-items: center; }
  .sumary__location {
    display: grid;
    grid-template-columns: 10% 80% 10%; }
    .sumary__location span {
      display: block; }
    .sumary__location--location {
      margin-left: 10px; }
  .sumary__pay {
    display: grid;
    grid-template-columns: 10% 80% 10%; }
    .sumary__pay span {
      display: block; }
    .sumary__pay--pay {
      margin-left: 10px; }
    .sumary__pay--title {
      display: flex;
      justify-content: flex-end; }
      .sumary__pay--title h1 {
        color: #e7305b; }
  .sumary button {
    width: 90%;
    margin: 0 5%;
    background-color: #56c272;
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    border: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

.section {
  position: relative;
  min-height: 100vh;
  background: #f7f5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    overflow: hidden; }

.user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; }
  .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s; }

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 40px;
  transition: 0.5s; }

section .container .user .formBx form {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #4c5454; }
  section .container .user .formBx form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f7f5dd;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold; }

section .container .user .formBx form input[type='submit'] {
  max-width: 100%;
  background: #56c272;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 1s; }

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  font-weight: 300; }
  section .container .user .formBx form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #e7305b;
    text-transform: uppercase; }

small {
  color: #e7305b; }

section .container .signupBx {
  pointer-events: none; }

section .container.active .signupBx {
  pointer-events: initial; }

section .container .signupBx .formBx {
  left: 100%; }

section .container.active .signupBx .formBx {
  left: 0; }

section .container .signupBx .imgBx {
  left: -100%; }

section .container.active .signupBx .imgBx {
  left: 0; }

section .container .signinBx .formBx {
  left: 0; }

section .container.active .signinBx .formBx {
  left: 100%; }

section .container .signinBx .imgBx {
  left: 0%; }

section .container.active .signinBx .imgBx {
  left: -100; }

/*----------------------------------------------MEDIA QUERIES----------------------------------------------*/
@media (max-width: 991px) {
  section .container {
    max-width: 400px; }
  section .container .imgBx {
    display: none; }
  section .container .user .formBx {
    width: 100%; } }

