.Header {
  background-color: var(--principal);

  &__title {
    font-size: 2em;
    margin-left: 1em;
  }

  &__brand {
    color: var(--font-contrast);
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;

    &--search {
      background-color: var(--principal-contrast);
      display: flex;
      align-items: center;
      font-size: 1em;
      color: var(--font-contrast);
      outline: none;
      border: none;
      border-radius: 1em;
      top: 12px;
      left: 588px;
      width: 40%;
      height: 2.5em;

      .faSearch {
        margin: 0 1em;
      }

      input {
        background-color: var(--principal-contrast);
        outline: none;
        height: 90%;
        border: none;
        width: 70%;
      }
    }

    .icon {
      margin: 0 1em;
    }

    .faShoppingBag {
      font-size: 2em;
    }
  }

  &__categories {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    user-select: none;

    .categorie {
      align-items: center;
      border-radius: 0.5em;
      color: var(--font-contrast);
      display: flex;
      flex-direction: row;
      height: 2em;
      padding: 1em 1.5em;
      text-transform: capitalize;
      margin: 0.2em;

      img {
        height: 1.5em;
        margin-right: 0.3em;
      }
    }

    span:hover {
      background-color: #b72447;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .Header {

    &__title {
      display: none;
    }

    &__categories {
      img {
        display: none;
      }
    }

  }
}

@media screen and (max-width: 600px) {
  .Header {

    &__title {
      display: none;
    }

    &__categories {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1em;

      img {
        display: none;
      }

      .categorie {
        padding: 0;
        text-align: center;
        height: initial;
      }
    }

  }
}