@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@500&display=swap');

$title-font: 'Raleway', sans-serif;
$text-font: 'Poppins', sans-serif;
$main-color: lightcoral;