* {
  margin: 0;
  padding: 0;
}

body {
  background: #F7F5DD;
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 12em;
}
.container__menu {
  width: 500px;
  height: 407px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.container__menu ul {
  list-style: none;
  text-decoration: none;
}
.container__menu ul li {
  padding-bottom: 24px;
  padding-left: 20px;
}
.container__menu ul li a {
  text-decoration: none;
  color: #4C5454;
}
.container__menu ul li a:hover {
  color: #E7305B;
}
.container__menu-settings {
  width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.container h2 {
  font-size: 24px;
  width: 107px;
  height: 29px;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.form-row label {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.form-row input {
  width: 495px;
  height: 48px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background: #F7F5DD;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 28px;
}
.form-button button {
  width: 172px;
  height: 51px;
  background: #56C272;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
}

footer {
  width: 100%;
  height: 80px;
  background: #E7305B;
}