@import '../../assets/styles/components/Variables.scss';

@mixin btn {
  background-color: $buttons-color;
  padding: 8px;
  border-radius: 10px;
  color: $light-color;
  border: none;
}

@mixin border {
  border: 1px solid $secondary-light-color;
  box-shadow: 1px 1px 1px 1px #00000029;
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 60% 40%;

  .products {
    &__list {
      margin: 10px auto 50px;

      &--title {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        font-weight: bold;

        span:nth-of-type(1) {
          grid-column: 3 / span 1;
        }

        span:nth-of-type(2) {
          grid-column: 4 / span 1;
        }

        span:nth-of-type(3) {
          grid-column: 5s / span 1;
        }
      }

      .item {
        background-color: $light-color;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        align-items: center;
        @include border();
        grid-column: 1 / span 6;
        margin: 5px 0 20px 0;
        border-radius: 10px;

        span {
          font-weight: bold;
        }

        button {
          background-color: rgba(0, 0, 0, 0);
          border: none;
          cursor: pointer;

          &:disabled .fa-minus-circle {
            color: rgb(167, 167, 167);
            cursor: not-allowed;
          }
        }

        &__cantidad {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
        }
      }
    }

    &__cards {
      margin: 10px auto;

      &--title {
        display: flex;

        h1 {
          margin: 0 0 10px 5px;
        }

        span {
          svg {
            font-size: 25px;
          }
        }
      }

      &--container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
      }

      .card {
        background-color: $light-color;
        @include border();
        border-radius: 10px;
        padding: 5px;
        min-width: 130px;

        &__img {}

        p {
          margin: 0;
        }

        button {
          display: block;
          width: 90%;
          margin: 10px auto;
          @include btn();
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  .products__cards {
    &--container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;

    .products__cards {
      display: none;
    }
  }
}
